*, h1, h3{
  padding: 0;
  margin: 0;
}

.container-all {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  padding: 1.5rem 50px 1.5rem 50px;
  background-color: #FFEDDA;
  text-align: center;
  color: rgb(50, 50, 50);
  box-shadow: 0px 0px 8px black;
}

.main {
  padding: 50px;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.table-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

th, td {
  text-align: start;
  padding: 5px 20px 5px 5px;
  border: 1px solid;
}

.footer {
  background-color: silver;
  text-align: center;
  padding: 1rem;
  box-shadow: 0px 0px 8px black;
}

.modal-container {
  display: flex;
  justify-content: center;
}

.form-inputs {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

/* 
#C89E7F
RGB (200,158,127)

#FFEDDA
RGB (255,237,218)

#DCA99B
RGB (220,169,155)

#D07B54
RGB (208,123,84)

#B96453
RGB (185,100,83)
*/
